<div *ngIf="isDataLoaded">
	<ion-header [translucent]="true">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
			<ion-title> My Account - {{profile.name || ''}} </ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content [fullscreen]="true">
		<app-profile-header [profile]="profile"></app-profile-header>
		<ion-card>
			<ion-list>
				<ion-list-header> Next Games </ion-list-header>
				<div *ngFor="let match of matches">
					<app-matchrow [match]="match"></app-matchrow>
				</div>
			</ion-list>
		</ion-card>

		<ion-card>
			<ion-list>
				<ion-list-header> Recent Games </ion-list-header>
				<div *ngFor="let match of matches">
					<app-matchrow [match]="match"></app-matchrow>
				</div>
			</ion-list>
		</ion-card>
	</ion-content>
</div>
<div *ngIf="!isDataLoaded" class="profile-not-found__container">
	<ion-card class="ion-padding ion-text-center">
		<div class="ion-padding-bottom">Profile <b><i>{{accountId}}</i></b> not found.</div>
		<a [routerLink]="'/homepage'">
			<ion-icon name="home-outline" size="large"></ion-icon>
		</a>
	</ion-card>
</div>
