<div *ngIf="isDataLoaded">
	<ion-header [translucent]="true">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
			<ion-title>My Account</ion-title>
			<ion-buttons slot="end">
				<ion-button size="large" [routerLink]="['/account']">
					<ion-icon name="person-outline"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>

	<ion-content [fullscreen]="true">
		<div class="page-content-wrapper">
			<app-profile-header [profile]="profile"></app-profile-header>
			<ion-card>
				<ion-card-header>
					<ion-card-title>Next Games</ion-card-title>
				</ion-card-header>
				<ion-card-content class="ion-no-padding">
					<div *ngFor="let match of profile.nextMatches">
						<app-matchrow [match]="match"></app-matchrow>
					</div>

				</ion-card-content>
			</ion-card>

			<ion-card>
				<ion-card-header>
					<ion-card-title>Recent Games</ion-card-title>
				</ion-card-header>
				<ion-card-content class="ion-no-padding">
					<div *ngFor="let match of profile.pastMatches">
						<app-matchrow [match]="match"></app-matchrow>
					</div>
				</ion-card-content>
			</ion-card>
		</div>
	</ion-content>
</div>
