<ion-card>
	<div class="profile-header-block ">
		<ion-card class="profile-header-block-thumbnail display-flex-center-evenly" slot="start">
			<ion-img [src]="profile.profileImageUrl"></ion-img>
		</ion-card>


		<ion-card class="profile-header-block-card ">
			<ion-card-header>
				<ion-card-title>{{profile.name}}</ion-card-title>
			</ion-card-header>
			<ion-item lines="none">
				<ion-label>450 friends</ion-label>
				450 friends
			</ion-item>
		</ion-card>

		<ion-card class="profile-header-block-card">
			<ion-card-header>
				<ion-card-title>Joined Teams</ion-card-title>
			</ion-card-header>
		</ion-card>
	</div>

	<ion-card-content>

	</ion-card-content>
</ion-card>
