<ion-card>
	<div class="profile-header-block ">
		<ion-card class="profile-header-block-card ">
			<ion-card-header class="display-flex">
				<div class="profile-header-block-thumbnail ">
					<ion-img [src]="profile?.profileImageUrl"></ion-img>
				</div>
				<ion-card-title
					class="ion-no-margin ion-margin-horizontal profile-header-block-name display-flex ion-align-items-center">
					{{profile?.name}}
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<div class=" profile-header-block-played-games">{{matchesCount}} played game(s)
				</div>
				<ion-badge color="success">{{winsCount}} win(s)</ion-badge>
				<ion-badge class="ion-margin-horizontal" color="warning">{{drawsCount}} draw(s)</ion-badge>
				<ion-badge color="danger">{{matchesCount - (winsCount + drawsCount)}} lose(s)</ion-badge>

				<div class="display-flex ion-align-items-center">Most played game:<ion-icon size="large"
						name="football-outline">
					</ion-icon>
				</div>
			</ion-card-content>
		</ion-card>

		<ion-card class="profile-header-block-card ion-padding-bottom">
			<ion-card-header>
				<ion-card-title>Joined Teams ({{profile?.teams.length}})</ion-card-title>
			</ion-card-header>
			<ion-list class="profile-header-list-teams">

				<ion-item *ngFor="let team of profile?.teams">
					{{team?.name}}
				</ion-item>
			</ion-list>
		</ion-card>
	</div>

</ion-card>
