<app-header pageTitle="Search Opponent"></app-header>

<ion-content [fullscreen]="true">
	<div class="page-content-wrapper">
		<ion-card>
			<ion-card-header color="primary">
				<ion-card-title>Select filters</ion-card-title>
			</ion-card-header>

			<div class="display-flex-center flex-wrap">
				<app-city-suggestion (newSelectedCityEvent)="selectCity($event)" [selectedCity]="selectedCity"
					class="search-opponent__filter-wrapper search-opponent__large">
				</app-city-suggestion>
			</div>

			<ion-segment (ionChange)="onSportChanged($event)" scrollable color="secondary" class="select-sport-section">
				<ion-segment-button *ngFor="let sport of allSports" value="{{sport._id}}">
					<fa-icon class="search-opponent__sport-icon" [icon]="icons[sport.icon]"></fa-icon>
					<ion-label class="search-opponent__sport-label">{{sport.name}}</ion-label>
				</ion-segment-button>
			</ion-segment>
			<div class="display-flex-center">
				<ion-button
					[disabled]="!(search.sport !== '' && search.city !== '')"
					(click)="searchOpponents()" color="primary">Search</ion-button>
			</div>
		</ion-card>




		<ion-list *ngIf="foundLobbies?.length" class="ion-blurry-background ion-no-padding">
			<div class="found-team__wrapper-title">
				Found {{foundLobbies?.length}} opponents
			</div>


			<div class="found-team__wrapper" *ngFor="let lobby of foundLobbies" [routerLink]="['/lobby', lobby._id]">
				<div class="found-team__name">{{lobby.homeTeam?.name}}</div>
				<div class="found-team__stats-wrapper display-flex-center">
					<div class="found-team-stats display-flex-center found-team-stats__first-item">
						<ion-icon class="search-opponent__icon" name="people-outline"></ion-icon> {{lobby.teamsFormat ||
						'Any'}}
					</div>
					<div class="found-team-stats display-flex-center">
						<ion-icon class="search-opponent__icon" name="stopwatch-outline"></ion-icon>{{lobby.gameParts ||
						'Any'}}
					</div>
					<!-- <div class="found-team-stats display-flex-center">
						<ion-icon class="search-opponent__icon" name="stats-chart-outline"></ion-icon>
						{{lobby.homeTeam.winsCount}} {{lobby.homeTeam.drawsCount}} {{lobby.homeTeam.losesCount}}
					</div> -->
					<div class="found-team-stats display-flex-center found-team-stats__first-item">

						<ion-icon class="search-opponent__icon" name="time-outline"></ion-icon>
						{{(lobby.date | date: 'dd MMM HH:mm') || 'Any time' }}

					</div>
				</div>
				<div class="found-team__chevron-icon" slot="end">
					<ion-icon name="chevron-forward-outline"></ion-icon>
				</div>
			</div>
		</ion-list>
	</div>
</ion-content>
