.match-row {
	&__info-section__group {
		margin: 0 8px;
		display: flex;
		align-items: center;

	}
	&__icon {
		margin: 0 4px;
		font-size: 20px;
	}
}

.ion-item {
	&-2 {
		--ion-item-background: rgba(158, 48, 48, 0.7);
	}

	&-1 {
		--ion-item-background: rgba(31, 83, 43, 0.7);
	}

	&-0 {
		--ion-item-background: rgba(75, 73, 27, 0.7);
	}
}
