.match-row {
	&__info-section__group {
		margin: 0 8px;
		display: flex;
		align-items: center;

	}
	&__icon {
		margin: 0 4px;
		font-size: 20px;
	}
}

.ion-item {
	&-2 {
		--ion-item-background: #5e2323;
	}

	&-1 {
		--ion-item-background: #1f532b;
	}

	&-0 {
		--ion-item-background: #4b491b;
	}
}
