<app-header pageTitle="Homepage"></app-header>
<ion-content [fullscreen]="true">
	<div class="page-content-wrapper homepage-content__wrapper ">
		<div class="homepage-content__header">
			<h2 class="homepage-content__title ion-no-margin">
				Hello!
			</h2>
			<div class="homepage-content__subtitle ion-no-margin">
				Welcome to Sport-on-Spot Home.
			</div>
		</div>
		<div class="homepage-content__content">
			<h3 class="homepage-content__content__title">What's next?</h3>
			<div class="homepage-content__card-wrapper display-flex-center flex-wrap">
				<ion-button [routerLink]="[button.link]" fill="outline"
					class="homepage-content__card ion-blurry-background ripple-parent ion-text-center ion-no-margin"
					*ngFor="let button of buttons">
					<ion-label class="homepage-content__label">{{button.label}}</ion-label>
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>
