.homepage-content {
	&__wrapper {
		padding: 0 8px 8px;

		@media (max-width: 576px) {
			display: flex;
			align-content: space-between;
			flex-wrap: wrap;
			height: 100%;
		}
	}

	&__header {
		padding: 32px 0 72px;
	}

	&__title {
		font-weight: bold;
	}

	&__subtitle {
		font-size: 14px;
	}

	&__card {
		width: 40%;
		min-height: 200px;
		flex-grow: 1;
	}

	&__card-wrapper {
		gap: 8px;
	}

	&__label {
		margin: auto;
		white-space: break-spaces;
	}

	&__content__title {
		display: block;
		width: 100%;
	}
}
