.homepage-content {
	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__card {
		flex-basis: 50%;
		min-height: 200px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
	}
}
