<app-header pageTitle="Lobby"></app-header>

<ion-content [fullscreen]="true">
	<div class="page-content-wrapper" *ngIf="isDataLoaded">
		<ion-item class="ion-margin-top ion-blurry-background">
			<div class="lobby-header-wrapper">
				<div class="lobby-header-item">
					<span class="team-name">{{currentLobby.homeTeam.name}}</span>
				</div>
				<div class="lobby-header-item">
					<div class="match-status">
						<ion-badge *ngIf="currentLobby.status == 1" color="warning">pending</ion-badge>
						<ion-badge *ngIf="currentLobby.status == 2" color="success">challenged</ion-badge>
					</div>
					<div class="final-result">0:0</div>
					<ion-item *ngIf="currentLobby.status == 1">
						<ion-input [(ngModel)]="guestTeamContact" maxlength="12" (keypress)="numberOnly($event)"
							placeholder="Contact number" class="ion-text-center" color="dark"></ion-input>
					</ion-item>
					<div *ngIf="currentLobby.status == 2">
						<ion-badge>{{currentLobby.homeTeamContact}}</ion-badge>
						:
						<ion-badge>{{currentLobby.guestTeamContact}}</ion-badge>
					</div>
					<div class="match-status">
						<ion-button *ngIf="currentLobby.status == 1"
							[disabled]="guestTeamContact.length < 10 || guestTeam == undefined" fill="outline"
							(click)="clickChallenge()">Challenge</ion-button>
					</div>
				</div>
				<div *ngIf="currentLobby.status == 1" class="lobby-header-item">
					<span class="team-name">
						<ion-select class="team-name-select" interface="popover" placeholder="Select Team"
							[(ngModel)]="guestTeam" (ngModelChange)="selectTeam()">
							<ion-select-option *ngFor="let team of currentProfile?.teams" value="{{team._id}}">
								<ion-label color="secondary">{{team.name}}</ion-label>
							</ion-select-option>
						</ion-select>
					</span>
				</div>
				<div *ngIf="currentLobby.status == 2" class="lobby-header-item">
					<span class="team-name">{{currentLobby.guestTeam.name}}</span>
				</div>
			</div>
		</ion-item>

		<div class="lobby-information">
			<div class="team-members team-members__home-team lobby-information__section">
				<ion-item *ngFor="let player of currentLobby.homeTeam.players" routerLink="/account/{{player?._id}}"
					routerLinkActive="active" ariaCurrentWhenActive="page">
					<ion-avatar>
						<img [src]="player.profileImageUrl || ''" />
					</ion-avatar>
					<ion-label class="ion-padding-horizontal">{{player?.name}}</ion-label>
				</ion-item>
			</div>
			<div class="lobby-information__section team-members__match-details">
				<ion-item class="lobby-information__section-item" color="light" lines="none">
					<div class="match-details">
						<div class="match-details__title">Match details</div>
						<div class="match-details__line">{{currentLobby.date | date: 'dd MMM HH:mm' }}</div>
						<div class="match-details__line">{{currentLobby.gameParts}}</div>
						<div class="match-details__line">{{currentLobby.teamsFormat}}</div>
						<div class="match-details__line">{{currentLobby.city}}</div>
					</div>
				</ion-item>
			</div>
			<div class="team-members team-members__guest-team lobby-information__section">
				<ion-item *ngFor="let player of guestTeam?.players" routerLink="/account/{{player?._id}}"
					routerLinkActive="active" ariaCurrentWhenActive="page">
					<ion-avatar>
						<img [src]="player.profileImageUrl || ''" />
					</ion-avatar>
					<ion-label class="ion-padding-horizontal">{{player?.name}}</ion-label>
				</ion-item>
			</div>
		</div>
	</div>
</ion-content>
