.my-teams-card {
	flex-basis: 385px;
	flex-grow: 0;
	flex-shrink: 1;
	margin: 5px;
}

/* card -
display: flex;
    justify-content: center;
    height: 80%;

butona -
align-self: center;
    margin: auto 0; */
