/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--page-content-width: 820px;
}

.text-bold {
	font-weight: bolder;
	text-decoration: underline;
}

.display-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.display-flex-center-evenly {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.page-content-wrapper {
	max-width: var(--page-content-width);
	margin: 0 auto;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 33%;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--ion-color-light);//#fff;
}

::-webkit-scrollbar-track:hover {
	background: var(--ion-color-light-shade);//#f7f7f7;
}

::-webkit-scrollbar-thumb {
	background: var(--ion-color-medium);//#ccc;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--ion-color-medium-shade);//#888
}

.inner-scroll {
	scrollbar-width: thin
}

ion-menu {
	--side-min-width: 240px;
	--side-max-width: 0;
}

ion-card-title {
	font-size: 16px;
}


